@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Paytone+One&display=swap');
*
{
    margin: 0;
    padding: 0;
}
body
{
    background: #1F1F1F;
}
.buy img
{
    padding: 15px;
    border-radius: 45px;
    float: left;
}
.buy h1
{
    display: inline-block;
    color: white;
    padding-top: 20px;
}
.Telegram
{
    color: white;
    float: right;
    background: #253050 59%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0.75rem;
}
.knopks
{
    margin: auto;
}
.Telegram2
{
    top: 0px;
}
.Discord
{
    font-family: 'Intro Black';
    font-style: normal;
    background: #253050 59%;
    float: right;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 0.75rem;
}
.navigation
{
    margin: auto;
    width: 300px;
    height: 30px;
}
.navigation a
{
    background:#253050;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
.razdel
{
    height: 700px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px blue;
}
#about-server
{
    background-color: gray;
}
#about-us
{
    background-color: gold;
}
#map
{
    background-color: pink;
}
html
{
    scroll-behavior: smooth;
}

