@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Paytone+One&display=swap');
*
{
    margin: 0;
    padding: 0;
}
body
{
    background: #1F1F1F;
}
.buy img
{
    padding: 15px;
    border-radius: 45px;
    float: left;
}
.buy h1
{
    display: inline-block;
    color: white;
    padding-top: 20px;
}
.Telegram
{
    color: white;
    float: right;
    background: #253050 59%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0.75rem;
}
.knopks
{
    margin: auto;
}
.Telegram2
{
    top: 0px;
}
.Discord
{
    font-family: 'Intro Black';
    font-style: normal;
    background: #253050 59%;
    float: right;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 0.75rem;
}
.navigation
{
    margin: auto;
    width: 300px;
    height: 30px;
}
.navigation a
{
    background:#253050;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
.razdel
{
    /* height: 700px; */
    border-radius: 25px;

    box-shadow: 0px 0px 10px blue;
    /* что бы убрать отступы между инлайн блоками */
    font-size: 0;

}
.razdel img
{
    /* float: left; */
    display: inline-block;
    width: 50%;
    /* выпавнивает img | h4 по вертикали по середине   */
    vertical-align: middle;
    
}
.razdel h4
{
    padding: 10px;
    /* float: left; */
    display: inline-block;
    width: 50%;
    font-size: 15px;
    /* выпавнивает img | h4 по вертикали по середине   */
    vertical-align: middle;
    text-align: center;
    /* чтобы педдинг не расширяли теги  */
    box-sizing: border-box;
}
#about-server
{
    background-color: gray;
}
.img-minecraft2
{
    /* float: right; */
    padding-bottom: 0;
}
#about-us
{
    background-color: gold;
}
.one-server
{
    width: 343px;
    height: 592px;
    background: rgba(37, 48, 80, 0.5);
    border: 4px solid #2F4F9F;
    border-radius: 49px;
}
.one-information
{
    margin: auto;
    margin-top: 20px;
    width: 319px;
    height: 560px;
    background: rgba(26, 30, 39, 0.97);
    border-radius: 34px;
}
.img-information
{
    margin-top: 30px;
    margin-left: 24%;
}
.information
{
    margin: auto;
    width: 300px;
    height: 400px;
    background-color: aqua; 
    border-radius: 25px;
}
.information h2
{
    font-size: 25px;
}
#map
{
    background-color: pink;
}
.map
{
    width: 300px;
    height: 30px;
    background-color: aquamarine;
    border-radius: 25px;
}
html
{
    scroll-behavior: smooth;
}

