@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

*
{
    margin: 0;
    padding: 0;
}
body
{
    background: #1F1F1F;
    padding-top: 50px;
}
body::-webkit-scrollbar-thumb
{
    background: rgba(44, 67, 127, 1)
}
header
{
    top: 20px;
    position: fixed;
    width: 100%;
    text-align: center;
}
header img
{

    padding-top: 0px;
    border-radius: 45px;
    height: 50px;
    float: left;
}
header h1
{
    font-family: 'Raleway', sans-serif;
    line-height: 50px;
    color: #F3E1B8;
    float: left;

}
.logo
{
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    float: left;
    color: white;
}
.ava
{
    margin: 50px;
    width: 120px;
    height: 120px;
    border-radius: 35px;
}
.knopks
{
    font-family: 'Raleway', sans-serif;
    float: right;
    margin-top: 5px;
}
.blue-button
{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    text-decoration: none ;
    border-radius: 0.75rem;
    color: #2B2B2B;
    background: #DACAA6;
    padding: 0 10px;
    line-height: 40px;
    font-style: normal;
    margin: 0 2px;
}
.color-fons
{
    text-decoration: none;
}
.p
{
    font-family: 'Raleway', sans-serif;
    color: #474646;
    margin-top: 80px;
    height: 32px;
    text-align: center;
    background: #F3E1B8;
    width: 1000px;
    margin-left: 280px;
    border-radius: 20px;
    border: 1px solid rgba(71, 99, 173, 0.21);;
    font-size: 20px;
}
.buy
{
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: #474646;
    background-color: #F3E1B8;
    
    padding: 20px;
    line-height: 61px;
    width: 272px;
    text-align: center;
    padding: 0 20px;
    border-radius: 15px;
    height: 61px;
}
.players-online
{
    background-color: aquamarine;
    padding: 5px;
    border-radius: 15px;
}
.tablo
{
    float: left;
    /* background-color: aquamarine; */
    color: white;
    width: 800px;
    height: 380px;
    margin-left: 45px;
}
.tablo p
{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #D2D8E5;
    margin-top: 30px;
    margin-bottom: 30px;
}
.tablo h1
{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 4rem;
    line-height: 113px;
    color: #474646;
    background-color: #F3E1B8;
    margin-top: 150px;
    position: relative;
    border-radius: 46px;
}
.tablo span
{
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    line-height: 25px;
    font-size: 20px;
}
.tablo img
{
    position: absolute;
    display: inline-block;
    top: -8px;
    /* vertical-align: middle; */
    /* height: 61px; */
    transform: translateX(-50%);
    height: 77px;
    left: 0;
    /* transform: scale(1.263); */
}
.buu a
{
    text-align: center;
    margin: -50px;
}

.gh img
{
    float: right;
    margin: 50px;
}
.hydrated
{
    vertical-align: middle;
}