@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

*
{
    margin: 0;
    padding: 0;
}
body
{
    background: #1F1F1F;
    padding-top: 50px;
}
body::-webkit-scrollbar-thumb
{
    background: rgba(44, 67, 127, 1)
}
body header
{
    top: 0;
    background-color: cyan;
    position: fixed;
    width: 100%;
    text-align: center;
}
header img
{

    padding-top: 0px;
    border-radius: 45px;
    height: 50px;
    float: left;
}
header h1
{
    font-family: 'Raleway', sans-serif;
    line-height: 50px;
    color: white;
    float: left;

}
.logo
{
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    float: left;
    color: white;
}
.ava
{
    margin: 50px;
    width: 120px;
    height: 120px;
    border-radius: 35px;
}
.knopks
{
    font-family: 'Raleway', sans-serif;
    float: right;
    margin-top: 5px;
}
.blue-button
{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    border-radius: 0.75rem;
    color: white;
    background: #253050 59%;
    padding: 0 10px;
    line-height: 40px;
    font-style: normal;
    margin: 0 2px;
}
.color-fons
{
    text-decoration: none;
}
.p
{
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-top: 80px;
    height: 32px;
    text-align: center;
    background: rgba(71, 99, 173, 0.21);
    width: 1000px;
    margin-left: 280px;
    border-radius: 20px;
    border: 1px solid rgba(71, 99, 173, 0.21);;
    font-size: 20px;
}
.buy
{
    display: inline-block;
    margin-top: 20px;
    background: #6563EE;
    color: white;
    text-decoration: none;
    padding: 20px;
    width: 200px;
    border-radius: 15px;
}
.players-online
{
    background-color: aquamarine;
    padding: 5px;
    border-radius: 15px;
}
.tablo
{
    float: left;
    /* background-color: aquamarine; */
    color: white;
    width: 800px;
    height: 380px;
    margin-left: 45px;
}
.tablo p
{
    font-family: 'Raleway', sans-serif;
    color: #606266;
    margin-top: 20px;
}
.tablo h1
{
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    line-height: 1;
    color: white;
    margin-top: 150px;
}
.tablo a
{
    text-align: center;
}
.gh img
{
    float: right;
    margin-top: -390px;
}
